
/* Custom Divider */
.custom-shape-divider-bottom-1704635727 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1704635727 svg {
    position: relative;
    display: block;
    width: calc(121% + 1.3px);
    height: 191px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1704635727 .shape-fill {
    fill: #cfe2ff;
}

.custom-shape-divider-bottom-1704723237 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1704723237 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1704723237 .shape-fill {
    fill: #cfe2ff;
}


.custom-shape-divider-top-1704809173 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    rotate: 180deg;
}

.custom-shape-divider-top-1704809173 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 147px;
}

.custom-shape-divider-top-1704809173 .shape-fill {
    fill: #cfe2ff;
}

/* End custom divider */
