.right-hero-image{
    height: 400px;
    width: 500px;
}






.menuCard{
    transition: 0.2s all;
    border: 0;
}

.menuCard:hover{
    transition: 0.2s all;
    color: #fff;
    background-color: #6ea8fe !important;
    border: 0;
    margin-top: -5px;
}
