.right-hero-image{
    height: 400px;
    width: 500px;
}

.custom-shape-divider-bottom-1704635727 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1704635727 svg {
    position: relative;
    display: block;
    width: calc(121% + 1.3px);
    height: 191px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1704635727 .shape-fill {
    fill: #cfe2ff;
}

.menuCard{
    transition: 0.2s all;
    border: 0;
}

.menuCard:hover{
    transition: 0.2s all;
    color: #fff;
    background-color: #6ea8fe !important;
    border: 0;
    margin-top: -5px;
}
