
/* Global Configuration */
.navbar-brand img{
    width: 40px;
    height: 40px;
}

.btn-outline-indigo{
    border: 1px solid #6610f2;
    color: #6610f2;
}

.btn-outline-indigo:hover{
    background-color:  #6610f2;
    color: #fff;
}

.swal-footer {
    text-align: center;
  }
